* {
}

.rarity {
  display: flex;
  justify-content: space-between;

  padding: 14px;

  margin-top: 12px;

  border-radius: 12px;

  border: 1px solid rgba(255,255,255,0.05);
}

.common {
  color: #ddd;
}

.uncommon {
  color: #5fff5f;
}

.rare {
  color: #53a8ff;
}

.epic {
  color: violet;
}

.legendary {
  color: gold;
}

.mythic {
  color: hotpink;
}

.divine {
  color: cyan;
}

.primal {
  color: #ff66cc;
}

#recentRolls {
  display: flex;
  flex-direction: column;
  gap: 10px;

  margin-top: 15px;
}

.recent-roll {
  background: rgba(255,255,255,0.03);

  padding: 12px;

  border-radius: 12px;
}

@media(max-width: 1400px) {

  .main-layout {
    grid-template-columns: 1fr;
  }

  .sidebar {
    width: 100%;
  }

}
